.c-numberDots__item {
    display: inline-block;
    vertical-align: middle;
    font-size: .75em;
    font-weight: 300;
    text-align: center;
}

.c-numberDots__item:hover .c-numberDots__text {
    color: #fff;
    background: #00bcd4;
    border-color: #00bcd4;
}

.c-numberDots__item.is-active .c-numberDots__text {
    color: #fff;
    background: #005096;
    border-color: #005096;
}

.c-numberDots__text {
    display: inline-block;
    width: 22px;
    vertical-align: middle;
    line-height: 1.9;
    border: 1px solid #005096;
    border-radius: 50%;
    background: none;
    color: #005096;
    text-decoration: none;
    -webkit-transition: background .2s linear .1s, color .3s linear .1s;
    transition: background .2s linear .1s, color .3s linear .1s;
}

.first, .last {
    display: none;
}

.c-numberDots__icon .c-numberDots__text {
    border: none;
    background: none;
    padding: 0;
}

.c-numberDots__icon {
    width: 100%;
    max-width: .625em;
    max-height: .625em;
    display: inline-block;
    fill: #005096;
}