a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

a, button {
  outline: 0;
}

button::-moz-focus-inner {
  border: 0;
  outline: none;
}

blockquote:after,blockquote:before,q:after,q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
      padding: 6px 36px!important;

}

.cf:after,.cf:before {
  content: " ";
  display: table;
}

.item,.list:after {
  display: inline-block;
}
#tour-paymethod>label{
    width: 35%;
    line-height: 27px;
    }
.cf:after {
  clear: both;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label{
      color: #ff0500!important;
}
.cf {
  *zoom: 1;
}
.panel_select_create{
  display:flex;
  justify-content: center;
      margin-top: 33px;
}
.panel_select_create>div{
    margin: 0 21px 0 21px;
}
.list {
  text-align: justify;
}
.color_blue_style{
     color: #00bcd4;
}
.enter_location{
      padding: 8px 14px 9px 15px;
    border: 1px solid #00bcd4;
    border-radius: 3px;
    color: #212121;
    -webkit-transition: border .3s ease-out;
    transition: border .3s ease-out;
    height: 35px;
}
.enter_location_button{
      padding: 8px 14px 9px 15px;
    border: 1px solid #00bcd4;
    background: #64c6d624;
    border-radius: 3px;
    color: #27a2b3;
    -webkit-transition: border .3s ease-out;
    transition: border .3s ease-out;
    height: 35px;
}
.scroll_bottom_crea{
    width: 110px;
    height: 30px;
    margin-top: 5px;
    position: relative;
    color: #005096;
    border-radius: 3px;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0050b0;
}
.list:after {
  content: "";
  width: 100%;
  height: 0;
}

.l-content,.l-wrapper,body,html {
  height: 100%;
}

html {
  font-family: GothamPro,"Open Sans",sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

body {
  line-height: 1;
}

.l-mainContent {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.l-action {
  padding: 2.75em 0 0;
  width: 100%;
  margin-top: -1.25em;
  background-image: url(/img/action/actionBg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1rem;
  text-align: center;
  position: relative;
}

.l-action__bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #00bcd4;
  background: bottom,0,100% #00deff;
  opacity: .15;
}

.l-action__text {
  color: #fff;
  font-size: 1.125em;
  line-height: 1.5;
  text-align: center;
}

.l-action--textBlock {
  padding-top: 20px;
}

.l-action__content {
  padding: 1em;
  position: relative;
  margin: 0 auto 2.75em;
  background: rgba(0,51,102,.6);
  border: 1px solid #fff;
  border-radius: 5px;
  max-width: 49.1875em;
  display: inline-block;
}

.l-action__content--mainPage {
  margin: 7em 0;
  max-width: 56em;
}

.l-action__content--reviews {
  padding: 1em;
  position: relative;
  margin: 0 auto 2.75em;
  background: rgba(0,51,102,.6);
  border: 1px solid #fff;
  border-radius: 5px;
  max-width: 49.1875em;
  display: inline-block;
}

.l-action__content--reviews {
  width: 485px;
  margin-bottom: 20px;
  padding: 21px 40px 23px;
}

.l-action__textBlock--reviews {
  font-size: 30px;
  text-shadow: 0 1px 0 rgba(0,51,102,.7);
  text-transform: uppercase;
}

.l-action__text--reviews {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: none;
  margin-top: 15px;
}

.l-action__content--textBlock {
  position: relative;
  margin: 0 auto 20px;
  background: rgba(0,51,102,.6);
  border: 1px solid #fff;
  border-radius: 5px;
  max-width: 49.1875em;
  display: inline-block;
  width: 485px;
  padding: 41px 1em 42px;
}

.l-action__textBlock {
  font-size: 30px;
  text-shadow: 0 1px 0 rgba(0,51,102,.7);
  line-height: 45px;
}

.l-action__text--mainPage {
  font-size: 1.357em;
  text-shadow: 0 1px 0 rgba(0,51,102,.75);
  line-height: 1.3;
}

.l-action__text--bold {
  font-weight: 700;
}

.l-action__text--white {
  color: #fff;
}

.l-action__text--green {
  color: #94e844;
}

.l-action__text--blue {
  color: #00bad2;
}

.l-action__formWrap {
  display: inline-block;
}

.l-action__formItem,.l-action__formWrap {
  display: inline-block;
}

.l-action__formItem {
  text-align: center;
  margin: 7px;
}

.l-action__formItem--button {
  text-align: center;
}

.l-action--empty {
  margin-top: -1.25em;
  background-image: url(/img/action/actionBg--empty.jpg);
  background-size: cover;
  background-position: 0 0;
  height: 170px;
}

.l-action__content--destination {
  padding: 1em;
  position: relative;
  margin: 0 auto 2.75em;
  background: rgba(0,51,102,.6);
  border: 1px solid #fff;
  border-radius: 5px;
  max-width: 49.1875em;
  display: inline-block;
}

.l-action__head {
  color: #fff;
  font-size: 2.25em;
  font-weight: 800;
  margin: 0 auto;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
}

.l-action__head--mainPage {
  font-size: 3.429em;
}

.l-action__head--small {
  margin: .5em 0 0;
  font-size: 1.125em;
}

.l-action__body {
  margin: 1.5em 0;
}

.l-action--supplier {
  background-image: url(/img/supplier/supplier__fixedBg.png);
}

.l-action__positioning {
  text-align: center;
  position: relative;
  z-index: 5;
}

.l-action--supplierSignUp {
  padding-top: 20px;
}

.l-action__content--supplierSignUp {
  padding: 1em;
  position: relative;
  margin: 0 auto 2.75em;
  background: rgba(0,51,102,.6);
  border: 1px solid #fff;
  border-radius: 5px;
  max-width: 49.1875em;
  display: inline-block;
}

.l-action__content--supplierSignUp {
  width: 485px;
  margin-bottom: 20px;
  padding: 23px 1em 25px;
}

.l-action--newLocation {
  text-align: left;
  background-attachment: local;
  height: 600px;
}

.l-wrapper {
  width: 100%;
  display: table;
}

.l-content {
  display: table-row;
  background: #fff;
}

.c-button {
  text-decoration: none;
  font-family: GothamPro,"Open Sans",sans-serif;
  text-align: center;

  padding: 10px 29px;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid #00bcd4;
  line-height: 16px;
  display: inline-block;
  border-radius: 3px;
  background: #00bcd4;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: background .2s linear .1s,color .4s linear .1s,border .4s linear .1s;
  transition: background .2s linear .1s,color .4s linear .1s,border .4s linear .1s;
  cursor: pointer;
}

.c-button::-moz-focus-inner {
  border: 0;
}

.c-button:hover {
  color: #fff;
  background: #00e2ff;
  border: 1px solid #00e2ff;
}

.c-button:active,.c-button:focus {
  outline: 0;
  background: #00e2ff;
  border: 1px solid #00e2ff;
}

.c-button--reset {
  background-color: #fff;
  color: #005096;
  border: 1px solid #005096;
}

.c-button--reset:active, .c-button--reset:hover, .c-button--reset:focus {
  background-color: #fff;
  color: #00e2ff;
  border: 1px solid #00e2ff;
}

.c-button--noneTransform {
  text-transform: none;
}

.c-button--transparentButton {
  color: #005096;
  background: #fff;
  border-color: #005096;
}

.c-button--transparentButton:active,.c-button--transparentButton:focus,.c-button--transparentButton:hover {
  color: #00e2ff;
  border-color: #00e2ff;
  background: #fff;
}

.c-button--selectedItems {
  padding: .25em .5em;
  border-radius: 0;
  font-size: .75em;
  text-transform: none;
}

.c-button--tourDetails {
  padding: 7px 42px;
  font-size: 14px;
  margin-top: 10px;
}

.c-button--tourDetails:hover {
  background: #00e2ff;
}

.c-button--slide,.c-button--smallButton {
  padding: 14px 28px;
  font-size: 12px;
  font-weight: 400;
  color: #fefefe;
  border: 1px solid #fefefe;
  background: 0 0;
}

.c-button--slide:hover,.c-button--smallButton:hover {
  color: #fefefe;
  border: 1px solid #00e2ff;
  background: #00e2ff;
}

.c-button--smallButton {
  padding: 5px 20px;
  font-size: 10px;
  font-weight: 400;
}

.c-button__buttonTooltip {
  color: #b6b6b6;
  font-size: 11px;
  display: inline-block;
  margin-left: 25px;
}

.c-button__buttonTooltip--small {
  color: #b6b6b6;
  display: inline-block;
  font-size: 9px;
  margin-left: 17px;
}

.c-button--slider {
  padding: 1em 3.5em;
}

.c-button--reviews:hover {
  background: #00e2ff;
}

.c-button--reviews {
  padding: 8px 30px 11px;
  font-size: 14px;
  margin-top: 10px;
}

.c-button--accent {
  position: absolute;
  top: 2.35em;
  left: 38%;
  background: #00bcd4;
  border: 1px solid #00bcd4;
  font-weight: 700;
  text-transform: uppercase;
}

.c-button__buttonWrap {
  text-align: center;
}

.c-empty {
  text-align: center;
}

.c-empty__text {
  display: inline-block;
  margin: 60px;
  color: #005096;
  font-size: 35px;
  font-weight: 700;
}

.c-empty__text--warn {
  font-size: 20px;
  margin-top: 10px;
}

.help-block {
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  margin-top: 5px;
  margin-left: 11px;
  color: #005096;
}

.hide {
  display: none;
}

@font-face {
  font-family:GothamPro;src:url(../../fonts/GothamProRegular/GothamProRegular.eot);src:url(../../fonts/GothamProRegular/GothamProRegular.eot?#iefix) format("embedded-opentype"),url(../../fonts/GothamProRegular/GothamProRegular.woff) format("woff"),url(../../fonts/GothamProRegular/GothamProRegular.ttf) format("truetype");font-style:normal;font-weight:400;
}

@font-face {
  font-family:GothamPro;src:url(../../fonts/GothamProLight/GothamProLight.eot);src:url(../../fonts/GothamProLight/GothamProLight.eot?#iefix) format("embedded-opentype"),url(../../fonts/GothamProLight/GothamProLight.woff) format("woff"),url(../../fonts/GothamProLight/GothamProLight.ttf) format("truetype");font-style:normal;font-weight:300;
}

@font-face {
  font-family:GothamPro;src:url(../../fonts/GothamProMedium/GothamProMedium.eot);src:url(../../fonts/GothamProMedium/GothamProMedium.eot?#iefix) format("embedded-opentype"),url(../../fonts/GothamProMedium/GothamProMedium.woff) format("woff"),url(../../fonts/GothamProMedium/GothamProMedium.ttf) format("truetype");font-style:normal;font-weight:600;
}

@font-face {
  font-family:GothamPro;src:url(../../fonts/GothamProBold/GothamProBold.eot);src:url(../../fonts/GothamProBold/GothamProBold.eot?#iefix) format("embedded-opentype"),url(../../fonts/GothamProBold/GothamProBold.woff) format("woff"),url(../../fonts/GothamProBold/GothamProBold.ttf) format("truetype");font-style:normal;font-weight:700;
}

@font-face {
  font-family:GothamPro;src:url(../../fonts/GothamProBlack/GothamProBlack.eot);src:url(../../fonts/GothamProBlack/GothamProBlack.eot?#iefix) format("embedded-opentype"),url(../../fonts/GothamProBlack/GothamProBlack.woff) format("woff"),url(../../fonts/GothamProBlack/GothamProBlack.ttf) format("truetype");font-style:normal;font-weight:800;
}

@font-face {
  font-family:GothamPro;src:url(../../fonts/GothamProItalic/GothamProItalic.eot);src:url(../../fonts/GothamProItalic/GothamProItalic.eot?#iefix) format("embedded-opentype"),url(../../fonts/GothamProItalic/GothamProItalic.woff) format("woff"),url(../../fonts/GothamProItalic/GothamProItalic.ttf) format("truetype");font-style:italic;font-weight:400;
}

@font-face {
  font-family:GothamPro;src:url(../../fonts/GothamProMediumItalic/GothamProMediumItalic.eot);src:url(../../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix) format("embedded-opentype"),url(../../fonts/GothamProMediumItalic/GothamProMediumItalic.woff) format("woff"),url(../../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf) format("truetype");font-style:italic;font-weight:600;
}

@font-face {
  font-family:GothamPro;src:url(../../fonts/GothamProLightItalic/GothamProLightItalic.eot);src:url(../../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix) format("embedded-opentype"),url(../../fonts/GothamProLightItalic/GothamProLightItalic.woff) format("woff"),url(../../fonts/GothamProLightItalic/GothamProLightItalic.ttf) format("truetype");font-style:italic;font-weight:300;
}

@font-face {
  font-family:GothamPro;src:url(../../fonts/GothamProBoldItalic/GothamProBoldItalic.eot);src:url(../../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix) format("embedded-opentype"),url(../../fonts/GothamProBoldItalic/GothamProBoldItalic.woff) format("woff"),url(../../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf) format("truetype");font-style:italic;font-weight:700;
}

@font-face {
  font-family:GothamPro;src:url(../../fonts/GothamProBlackItalic/GothamProBlackItalic.eot);src:url(../../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix) format("embedded-opentype"),url(../../fonts/GothamProBlackItalic/GothamProBlackItalic.woff) format("woff"),url(../../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf) format("truetype");font-style:italic;font-weight:800;
}

@media (max-width:1365px) {
  html {
    font-size: 14px;
  }
}

@media (max-width:1024px) {
  html {
    font-size: 12px;
  }

  .l-action__content {
    max-width: 90%;
  }

  .l-action__content--textBlock {
    max-width: 90%;
  }

  .l-action__content--destination {
    max-width: 90%;
  }

  .l-action__content--reviews {
    max-width: 90%;
  }

  .l-action__content--supplierSignUp {
    max-width: 90%;
  }
}

/*# sourceMappingURL=base.css.map */
