.select2-container {
    /*width: 100%!important;*/
    min-height: 34px;
    border: none;
}

.select2-container .select2-selection--single {
    height: 34px;
    background: #f7f7f7;
    border: 1px solid #e9e9e9;
    box-shadow: none;
    outline: none;
    border-radius: 4px;
    padding-left: 15px;
}

.select2-container .select2-selection--single .select2-selection__placeholder {
    color: #dddddd;
    font-family: GothamPro, "Open Sans", sans-serif;
    font-size: 14px;
}

.select2-container .select2-selection--single .select2-selection__arrow {
    border-left: none;
    height: 32px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    line-height: 32px;
    font-size: 14px;
    font-family: GothamPro, "Open Sans", sans-serif;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #005096;
}

.select2-container.select2-container--open .select2-selection, .select2-container .select2-selection:focus {
    box-shadow: none;
    border-color: #e9e9e9;
}

.select2-container .select2-dropdown {
    border-color: #e9e9e9;
}

.select2-search--dropdown {
    padding: 8px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    font-family: GothamPro, "Open Sans", sans-serif;
    font-size: 14px;
}

.has-success .select2-container--open .select2-selection, .has-success .select2-container--krajee.select2-container--focus .select2-selection {
    border-color: #e9e9e9;
    box-shadow: none;
}

.select2-results__option {
    font-size: 14px;
}

/* Multiple select2 */

.select2-container .select2-selection--multiple {
    min-height: 34px;
    background: #f7f7f7;
    border: 1px solid #e9e9e9;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0 15px;
    margin-bottom: 5px;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 7px;
    font-size: 14px;
    font-family: GothamPro, "Open Sans", sans-serif;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #e9e9e9;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    margin-right: -10px;
    color: #005096;
    margin-top: 7px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 7px;
    font-size: 14px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 6px;
}