.c-breadCrumbs {
  display: inline-block;
}

.c-breadCrumbs__link {
  font-family: GothamPro,"Open Sans",sans-serif;
  text-decoration: none;
}

.c-breadCrumbs__link,.c-breadCrumbs__link:hover,.c-tour__head,.c-tour__readMore,.c-tour__readMore:hover {
  text-decoration: none;
}

.l-tools {
  padding: .357em 0 .429em;
  background: #f8f8f8;
  font-size: 1rem;
}

.l-tools__content {
  padding: .5em 0;
}

.l-tools__leftPart {
  float: left;
}

.l-tools__rightPart {
  float: right;
}

.l-destinations {
  background: #fff;
  font-size: 1rem;
}

.l-destinations__leftPart {
  width: 25%;
  float: left;
}

.l-destinations__rightPart {
  width: 73.75%;
  float: right;
}

.l-destinations__search {
  width: 100%;
}

.l-destinations__filter {
  margin-bottom: 1em;
}

.l-destinations__instruments {
  border: 1px solid #e9e9e9;
  margin-bottom: 30px;
}

.l-destinations__instrument {
  margin: .5em auto 0;
}

.l-destinations__instrument--first {
  margin-top: 0;
}

.l-destinations__instrument--last {
  margin-bottom: 0;
}

.l-destinations__buttonWrap {
  padding: 1.5625em 0;
  text-align: center;
  border-top: #e9e9e9;
}

.l-destinations__list > * {
  float: right;
}

.l-destinations__list .empty {
  float: none;
}

.l-destinations__search--results {
  float: left;
  font-family: GothamPro,"Open Sans",sans-serif;
}

.l-destination__search--textResults {
  font-size: 21px;
  display: block;
  margin-bottom: 6px;
}

.l-destination__search--textAmount {
  font-size: 14px;
  display: block;
}

.l-destinations__item {
  width: 100%;
  margin: 1em auto;
}

.l-destinations__item--first {
  margin: 0 auto;
}

.c-profileForm__item .select2-container--default .select2-selection--single .select2-selection__placeholder,.c-supplierForm__item .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #7c7c7c;
}

.c-profileForm__item .select2-container .select2-selection--single,.c-supplierForm__item .select2-container .select2-selection--single {
  height: 36px;
}

.c-profileForm__item .select2-container--default .select2-selection--single .select2-selection__rendered,.c-supplierForm__item .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}

.c-breadCrumbs {
  font-size: 1rem;
}

.c-breadCrumbs:last-child .c-breadCrumbs__icon {
  display: none;
}

.c-breadCrumbs__link {
  display: inline-block;
  vertical-align: middle;
  color: #535353;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: color .2s linear .1s;
  transition: color .2s linear .1s;
}

.c-breadCrumbs__link.is-active {
  color: #303942;
}

.c-breadCrumbs__arrow {
  display: inline-block;
  text-align: center;
}

.c-breadCrumbs__icon {
  width: 100%;
  max-width: .5em;
  max-height: .5em;
  fill: #535353;
  display: inline-block;
  vertical-align: middle;
}

.c-searchForm input[type=text] {
  color: #7c7c7c;
}

.c-searchForm {
  font-size: 1rem;
}

.c-searchForm__inputBlock {
  width: 100%;
  position: relative;
}

.c-searchForm__input {
  width: 490px;
  height: 38px;
  border: none;
  border-radius: 3px;
  outline: 0;
  font-size: 13px;
  color: #7c7c7c;
  padding: 0 45px;
}

.c-searchForm__img {
  width: 8.5%;
  height: 100%;
  padding: 3% 0;
  position: absolute;
  top: -5px;
  text-align: center;
}

.c-searchForm__icon {
  width: 100%;
  max-width: 1.35em;
  max-height: 1.35em;
  display: inline-block;
  fill: #9b9b9b;
  -webkit-transition: fill .2s linear .1s;
  transition: fill .2s linear .1s;
}

.c-sort {
  font-size: 1rem;
}

.c-sort__text {
  font-size: .75em;
  text-transform: uppercase;
  color: #7c7c7c;
  display: inline-block;
  text-decoration: none;
}

.c-sort__text:after {
  content: '';
  display: inline-block;
  background-image: url('../img/icon/sorter__unchecked.svg');
  /*background-size: 28px 28px;*/
  height: 14px;
  width: 8px;
  margin: 0 10px;
  vertical-align: middle;
}

.c-sort__text.asc:after {
  background-image: url('../img/icon/sorter__asc.svg');
}

.c-sort__text.desc:after {
  background-image: url('../img/icon/sorter__desc.svg');
}

.c-sort__text.asc, .c-sort__text.desc {
  color: #303942;
  font-weight: 700;
}

.c-sort__list {
  display: inline-block;
}

.c-sort__list:before {
  content: 'Sort by:';
  display: inline-block;
  margin-right: 1em;

  font-family: GothamPro,"Open Sans",sans-serif;
  font-size: .75em;
  text-transform: uppercase;
  font-weight: 700;
  color: #7c7c7c;
}

.c-sort__list li {
  display: inline-block;
}

.c-sort__item {
  margin: 0 .5em;
  display: inline-block;
}

.c-selectCategory {
  font-size: 1rem;
}

.c-selectCategory__header {
  padding: .875em 1.125em;
  background: #005096;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
}

.c-selectCategory__body {
  border-left: #e8e8e8;
  border-right: #e8e8e8;
}

.c-selectCategory__show {
  padding: .8125em;
  max-width: 90%;
  margin: 1em auto 0;
  border: 1px solid #e9e9e9;
  cursor: pointer;
}

.c-selectCategory__hide {
  padding: 0 .8125em .8125em;
  max-width: 90%;
  max-height: 0;
  margin: 0 auto;
  border: 1px solid rgba(233,233,233,0);
  overflow: hidden;
  -webkit-transition: max-height .3s linear .1s,border .1s linear .1s;
  transition: max-height .3s linear .1s,border .1s linear .1s;
}

.c-selectCategory__hide.is-active {
  max-height: 20em;
  border: 1px solid #e9e9e9;
}

.c-selectCategory__name {
  float: left;
  display: inline-block;
  color: #303942;
  font-size: .875em;
  font-weight: 700;
  text-align: left;
}

.c-selectCategory__img {
  float: right;
  display: inline-block;
  text-align: center;
}

.c-selectCategory__icon {
  width: 100%;
  max-width: .75em;
  max-height: .75em;
  display: inline-block;
  fill: #7c7c7c;
  -webkit-transition: color .2s linear .1s,-webkit-transform .25s linear .1s;
  transition: color .2s linear .1s,-webkit-transform .25s linear .1s;
  transition: color .2s linear .1s,transform .25s linear .1s;
  transition: color .2s linear .1s,transform .25s linear .1s,-webkit-transform .25s linear .1s;
}

.c-selectCategory__icon.is-active {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.c-selectCategory__check {
  display: block;
  margin: 1.3125em auto;
  cursor: pointer;
}

.c-selectCategory__check:hover .c-selectCategory__label {
  color: #303942;
}

.c-selectCategory__input {
  display: none;
}

.c-selectCategory__checkbox {
  width: .75em;
  height: .75em;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border: 1px solid #7c7c7c;
}

.c-selectCategory__label {
  margin-left: .5em;
  display: inline-block;
  vertical-align: middle;
  color: #7c7c7c;
  font-size: .875em;
  -webkit-transition: color .2s linear .1s;
  transition: color .2s linear .1s;
}

.c-selectCategory__input:checked+.c-selectCategory__checkbox:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00bcd4;
}

.c-selectedItems {
  padding: 0;
  border: 1px solid #00bcd4;
  font-size: 1rem;
}

.c-selectedItems__head,.c-selectedItems__text {
  font-family: GothamPro,"Open Sans",sans-serif;
  font-size: .875em;
}

.c-selectedItems__head {
  padding: .7em 2.21em;
  background: #00bcd4;
  color: #fff;
}

.c-selectedItems__content {
  padding: 1.375em 1em 1em 1.9375em;
}

.c-selectedItems__item {
  margin: .75em 0 0;
  cursor: pointer;
}

.c-selectedItems__item--first {
  margin: 0;
}

.c-selectedItems__img {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.c-selectedItems__icon {
  width: 100%;
  max-width: .5em;
  max-height: .5em;
  display: inline-block;
  fill: #00bcd4;
  vertical-align: middle;
}

.c-selectedItems__text {
  display: inline-block;
  margin-left: .75em;
  color: #7c7c7c;
  cursor: pointer;
}

.c-selectedItems__buttonWrap {
  margin-top: 1em;
  text-align: right;
}

.c-selectPlace__content {
  max-width: 90%;
  margin: .5em auto;
  cursor: pointer;
}

.c-selectPlace {
  font-size: 1rem;
}

.c-selectPlace__header {
  padding: .875em 1.125em;
  background: #005096;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
}

.c-selectPlace__select {
  margin: 10px 0;
}

.c-selectRating {
  font-size: 1rem;
}

.c-selectRating__header {
  padding: .875em 1.125em;
  background: #005096;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
}

.c-selectRating__body {
  padding: 2em 1em;
}

.c-selectRating__toddler {
  height: 4em;
  margin: 0 auto;
  position: relative;
}

.c-selectRating__toddler .slider.slider-horizontal {
  width: 100%;
}

.c-selectRating__leftInfo,.c-selectRating__rightInfo {
  padding: .75em .5em;
  position: absolute;
  bottom: 0;
  border: 1px solid #e9e9e9;
  color: #7c7c7c;
  font-size: .75em;
  text-align: center;
}

.c-selectRating__leftInfo {
  left: 0;
}

.c-selectRating__rightInfo {
  right: 0;
}

/*# sourceMappingURL=destination.css.map */
