.c-breadCrumbs,.l-order__priceBlock>* {
  display: inline-block;
}

.c-breadCrumbs__link,.c-orderItem__input,.c-orderItem__input--small {
  font-family: GothamPro,"Open Sans",sans-serif;
}

.c-breadCrumbs__link,.c-breadCrumbs__link:hover,.c-fakeSteps__text {
  text-decoration: none;
}

.c-breadCrumbs__arrow,.c-fakeSteps,.c-orderItem__toggle {
  text-align: center;
}

.l-tools {
  padding: .357em 0 .429em;
  background: #f8f8f8;
  font-size: 1rem;
}

.l-tools__content {
  padding: .5em 0;
}

.l-tools__leftPart {
  float: left;
}

.l-order {
  margin-bottom: 150px;
}

.l-order__summaryBottom {
  margin: 58px 0 151px;
}

.l-order__summaryBlock {
  float: left;
  font-size: 14px;
  margin-top: 15px;
}

.l-order__summaryTitle {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.l-order__priceBlock {
  float: right;
  font-weight: 700;
}

.l-order__priceText {
  font-size: 19px;
  text-align: center;
}

.l-order__priceTitle {
  color: #535353;
  text-transform: uppercase;
}

.l-order__priceSum {
  color: #00e2ff;
  margin: 10px 0;
  font-size: 30px;
}

.l-order__bottomRow {
  margin-bottom: 5px;
}

.c-profileForm__item .select2-container--default .select2-selection--single .select2-selection__placeholder,.c-supplierForm__item .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #7c7c7c;
}

.c-profileForm__item .select2-container .select2-selection--single,.c-supplierForm__item .select2-container .select2-selection--single {
  height: 36px;
}

.c-profileForm__item .select2-container--default .select2-selection--single .select2-selection__rendered,.c-supplierForm__item .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}

.c-breadCrumbs {
  font-size: 1rem;
}

.c-breadCrumbs:last-child .c-breadCrumbs__icon {
  display: none;
}

.c-breadCrumbs__arrow,.c-breadCrumbs__icon,.c-breadCrumbs__link,.c-orderItem__inputColumn,.c-orderItem__radioGroup,.c-orderItem__radioLabel {
  display: inline-block;
}

.c-breadCrumbs__link {
  vertical-align: middle;
  color: #535353;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: color .2s linear .1s;
  transition: color .2s linear .1s;
}

.c-breadCrumbs__link.is-active {
  color: #303942;
}

.c-breadCrumbs__icon {
  width: 100%;
  max-width: .5em;
  max-height: .5em;
  fill: #535353;
  vertical-align: middle;
}

.c-orderItem {
  border: 2px solid #ddd;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  font-size: 14px;
  margin-top: 40px;
}

.c-orderItem__wrapper {
  padding: 40px 115px 0;
}

.c-orderItem__title {
  color: #005096;
  font-size: 35px;
  font-weight: 700;
  line-height: 46px;
  padding-bottom: 42px;
  max-width: 80%;
}

.c-orderItem__errorBlock {
  border: 1px solid #00bad4;
  background-color: #fffafa;
  padding: 50px 57px 55px;
  margin-bottom: 40px;
}

.c-orderItem__errorTitle {
  color: #535353;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 27px;
}

.c-orderItem__errorText {
  color: #535353;
  font-size: 13px;
  line-height: 21px;
}

.c-orderItem__label--black {
  font-size: 17px;
  color: #383838;
  font-weight: 700;
  margin-bottom: 13px;
}

.c-orderItem__label--normal {
  color: #898989;
  margin-bottom: 10px;
}

.c-orderItem__chooseGroup {
  width: 50%;
}

.c-orderItem__inputBlock {
  margin: 20px 0 40px;
}

.c-orderItem__inputColumn {
  margin-right: 30px;
}

.c-orderItem__icon,.c-orderItem__radioImg {
  height: 25px;
  top: 8px;
  margin-right: 7px;
  position: relative;
}

.c-orderItem__inputLabel {
  color: #898989;
  margin-bottom: 10px;
}

.c-orderItem__separator {
  margin-bottom: 20px;
}

.c-orderItem__input,.c-orderItem__input--small {
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  padding: 8px 14px 9px;
  color: #383838;
  width: 100%;
}

.c-orderItem__input--small:focus,.c-orderItem__input:focus {
  border: 1px solid #00bad4;
}

.c-orderItem__input--small:-ms-input-placeholder,.c-orderItem__input:-ms-input-placeholder {
  color: #ddd;
  font-size: 14px;
}

.c-orderItem__input--small:-moz-placeholder,.c-orderItem__input:-moz-placeholder {
  color: #ddd;
  font-size: 14px;
}

.c-orderItem__input--small::-moz-placeholder,.c-orderItem__input::-moz-placeholder {
  color: #ddd;
  font-size: 14px;
}

.c-orderItem__input--small::-webkit-input-placeholder,.c-orderItem__input::-webkit-input-placeholder {
  color: #ddd;
  font-size: 14px;
}

.c-orderItem__input#date {
  background: url(../img/icon/calendar-select.svg) right 15px center no-repeat #f7f7f7;
}

.c-orderItem__input--small {
  width: 122px;
}

.c-orderItem__column--left,.c-orderItem__column--right {
  width: 44%;
}

.c-orderItem__columnBlock {
  margin-bottom: 40px;
}

.c-orderItem__column--left {
  float: left;
}

.c-orderItem__column--right {
  margin-left: 51%;
}

.c-orderItem__select {
  width: 100%!important;
}

.c-orderItem__radioImg {
  width: 20px;
}

.c-orderItem__icon {
  width: 25px;
  fill: #00bcd4;
}

.c-orderItem__radioLabel {
  color: #383838;
  font-family: GothamPro,"Open Sans",sans-serif;
  position: relative;
  cursor: pointer;
}

.c-orderItem__radioButton {
  display: none;
}

.c-orderItem__radioButton+.c-orderItem__radioRect {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-left: 10px;
  background: #fff;
  border: 1px solid #7c7c7c;
  -webkit-transition: .2s background ease-out;
  transition: .2s background ease-out;
  vertical-align: top;
}

.c-orderItem__radioButton:checked+.c-orderItem__radioRect {
  background: #00bcd4;
}

.c-orderItem__radioItem {
  display: inline-block;
}

.c-orderItem__radioItem:first-child {
  margin-right: 70px;
}

.c-orderItem__pickupBlock {
  margin: 15px 0 25px;
  width: 50%;
}

.c-orderItem__map {
  height: 660px;
  border: 1px solid #e9e9e9;
  margin-bottom: 40px;
}

.c-pickupPoints__form {
  width: 220px;
  padding: 20px 10px 10px;
  border: 1px solid #bababa;
  background: #fff;
}

.c-pickupPoints__title {
  color: #005096;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 7px;
}

.c-pickupPoints__guide,.c-pickupPoints__time {
  color: #383838;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 4px;
}

.c-pickupPoints__desc {
  color: #383838;
  font-size: 12px;
  text-align: justify;
}

.c-orderItem__bottom {
  background-color: #f7f7f7;
  padding: 20px 115px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.c-orderItem__bottomColumn {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 0 35px;
}

.c-orderItem__bottomColumn:first-child,.c-orderItem__bottomColumn:last-child {
  margin: 0;
}

.c-orderItem__bottomBlock {
  margin-bottom: 10px;
}

.c-orderItem__bottomBlock:last-child {
  margin-bottom: 0;
}

.c-orderItem__bottomText--black {
  color: #535353;
  margin-bottom: 10px;
}

.c-orderItem__bottomText--bold {
  font-weight: 700;
}

.c-orderItem__bottomText--gray {
  color: #898989;
}

.c-orderItem__bottomText--lightblue {
  color: #00bad4;
  font-weight: 700;
}

.c-orderItem__line {
  display: inline-block;
  height: 85px;
  width: 1px;
  background-color: #ddd;
}

.c-orderItem__total {
  color: #535353;
  font-size: 21px;
}

.c-orderItem__totalPrice {
  color: #00bad4;
  font-size: 21px;
  font-weight: 700;
}

.c-orderItem__toggle {
  width: 100%;
  background-color: #f7f7f7;
  border: 2px solid #ddd;
  border-top: none;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
}

.c-orderItem__toggle:hover .c-orderItem__toggleIcon {
  fill: #00e2ff;
}

.c-orderItem__toggleIcon {
  height: 40px;
  width: 40px;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  fill: #373737;
  -webkit-transition: fill .2s linear;
  transition: fill .2s linear;
}

.c-orderItem__toggleIcon--rotate {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#c-orderItem__pickupHotel {
  display: none;
}

.c-fakeSteps {
  margin: 100px 0 30px;
}

.c-fakeSteps__item {
  display: inline-block;
  text-transform: uppercase;
}

.c-fakeSteps__text {
  display: inline-block;
  color: #ddd;
  font-size: 18px;
  font-weight: 700;
}

.c-fakeSteps__text:after {
  content: '';
  display: inline-block;
  background: #ddd;
  height: 2px;
  width: 70px;
  vertical-align: super;
  margin: 0 10px;
}

.c-fakeSteps .active {
  color: #00bad4;
}

.c-fakeSteps .active:after {
  background: #00bad4;
}

.c-fakeSteps__icon {
  height: 34px;
  width: 34px;
  fill: #ddd;
  position: relative;
  top: 10px;
}

/*# sourceMappingURL=order.css.map */
