.c-breadCrumbs__link,.c-breadCrumbs__link:hover {
  text-decoration: none;
}

.l-tools {
  padding: .357em 0 .429em;
  background: #f8f8f8;
  font-size: 1rem;
}

.l-tools__content {
  padding: .5em 0;
}

.l-tools__leftPart {
  float: left;
}

.c-breadCrumbs {
  font-size: 1rem;
  display: inline-block;
}

.c-breadCrumbs:last-child .c-breadCrumbs__icon {
  display: none;
}

.c-breadCrumbs__link {
  display: inline-block;
  vertical-align: middle;
  color: #535353;
  font-size: 1em;
  font-family: GothamPro,"Open Sans",sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: color .2s linear .1s;
  transition: color .2s linear .1s;
}

.c-breadCrumbs__link.is-active {
  color: #303942;
}

.c-breadCrumbs__arrow {
  display: inline-block;
  text-align: center;
}

.c-breadCrumbs__icon {
  width: 100%;
  max-width: .5em;
  max-height: .5em;
  fill: #535353;
  display: inline-block;
  vertical-align: middle;
}

.c-numberDots {
  font-size: 1rem;
}

.c-numberDots__content {
  display: inline-block;
  margin: 0 .25em;
}

.c-numberDots__item {
  width: 2em;
  height: 2em;
  display: inline-block;
  border: 1px solid #005096;
  border-radius: 50%;
  background: 0 0;
  vertical-align: middle;
  color: #005096;
  font-size: .75em;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background .2s linear .1s,color .3s linear .1s;
  transition: background .2s linear .1s,color .3s linear .1s;
}

.c-numberDots__item:hover {
  color: #fff;
  background: #00bcd4;
  border-color: #00bcd4;
}

.c-numberDots__item.is-active {
  background: #005096;
  color: #fff;
  border-color: #005096;
}

.c-numberDots__text {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.9;
}

.c-numberDots__left,.c-numberDots__right {
  line-height: 1.4;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

.c-numberDots__left {
  float: left;
}

.c-numberDots__right {
  float: right;
}

.c-numberDots__icon {
  width: 100%;
  max-width: .625em;
  max-height: .625em;
  display: inline-block;
  fill: #005096;
}

.c-profileMessages__message {
  display: block;
  background: #fff;
  border: 1px solid #e8e8e8;
  margin-bottom: 5px;
  -webkit-transition: background .3s ease-out;
  transition: background .3s ease-out;
  outline: 0;
}

.c-profileMessages__message:hover {
  background: #d2f4f8;
}

.c-profileMessages__message--unread {
  background: #f7f7f7;
}

.c-profileMessages__wrapper {
  padding: 15px 48px 13px 21px;
}

.c-profileMessages__contentWrapper {
  display: inline-block;
  float: left;
  margin-left: 10px;
  height: 75px;
  line-height: 75px;
}

.c-profileMessages__contentWrapper--messages {
  float: right;
}

.c-profileMessages__photos {
  display: inline-block;
  float: left;
}

.c-profileMessages__photo {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.c-profileMessages__content {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

.c-profileMessages__name {
  display: inline-block;
  line-height: 1.5;
  color: #535353;
  font-size: 1em;
  width: 150px;
}

.c-profileMessages__topic {
  display: inline-block;
  margin-left: 50px;
  width: 400px;
}

.c-profileMessages__topicText {
  display: inline;
  font-size: 1em;
  color: #535353;
  line-height: 1.5;
}

.c-profileMessages__topicText:before {
  content: "Topic: ";
  font-size: 1em;
  font-weight: 700;
  color: #535353;
}

.c-profileMessages__unreadWrapper {
  position: relative;
}

.c-profileMessages__unread {
  padding: 5px 10px;
  border-radius: 5px;
  color: #535353;
  font-size: 1em;
  position: relative;
  z-index: 2;
}

.c-profileMessages__unread:before {
  content: "+";
}

.c-profileMessages__unreadBg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: bottom,0,100% #000;
  opacity: .1;
  border-radius: 5px;
  z-index: 1;
}

/*# sourceMappingURL=profileMessages.css.map */
