a:hover, a:focus {
    text-decoration: none!important;
}
.l-tools__form {
  display: inline-block;
}

.c-signUp__input {
  font-family: GothamPro,"Open Sans",sans-serif;
}

.l-tools__header {
  text-align: center;
}

.l-tools {
  padding: .357em 0 .429em;
  background: #f8f8f8;
  font-size: 1rem;
}

.l-tools__header {
  padding: 3em 0 0;
}

.l-tools__form {
  max-width: 16.875em;
}

.c-profileForm__item .select2-container--default .select2-selection--single .select2-selection__placeholder,.c-supplierForm__item .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #7c7c7c;
}

.c-profileForm__item .select2-container .select2-selection--single,.c-supplierForm__item .select2-container .select2-selection--single {
  height: 36px;
}

.c-profileForm__item .select2-container--default .select2-selection--single .select2-selection__rendered,.c-supplierForm__item .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}

.c-breadCrumbs__link.is-active {
  color: #303942;
}

.c-signUp__header,.c-signUp__question {
  font-weight: 700;
  color: #303942;
  font-size: 1em;
}

.c-signUp {
  font-size: 1rem;
}

.c-signUp__question {
  display: inline-block;
}

.c-signUp__question--span {
  color: #00bcd4;
  text-transform: uppercase;
  text-decoration: none;
}

.c-signUp__body {
  margin-top: 2em;
}

.c-signUp__inputBlock {
  margin-bottom: 1.125em;
  position: relative;
}

.c-signUp__input {
  padding: .7857em 0 .7857em 2.5em;
  width: 100%;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  color: #212121;
  font-size: 1em;
  -webkit-transition: border .3s ease-out;
  transition: border .3s ease-out;
}

.c-signUp__input:-ms-input-placeholder {
  color: #212121;
}

.c-signUp__input:-moz-placeholder {
  color: #212121;
}

.c-signUp__input::-moz-placeholder {
  color: #212121;
}

.c-signUp__input::-webkit-input-placeholder {
  color: #212121;
}

.c-signUp__input:focus {
  border: 1px solid #00bad4;
}

.c-signUp__icon {
  max-width: 1em;
  max-height: 1em;
  position: absolute;
  top: 12px;
  left: 5%;
  fill: #9b9b9b;
}

.c-signUp__buttonWrap {
  margin: 1.875em auto 0;
}

.c-signUp__policyBlock {
  margin: 1em auto 0;
}

.c-signUp__policy {
  display: inline-block;
  color: #7c7c7c;
  font-size: .714em;
  font-weight: 400;
}

.c-signUp__policy--link {
  color: #00bcd4;
  text-decoration: none;
  -webkit-transition: text-decoration .2s linear .1s;
  transition: text-decoration .2s linear .1s;
}

.c-signUp__policy--link:hover {
  text-decoration: underline;
}

.c-signUp__separator {
  margin: 1.875em auto;
  color: #303942;
  font-size: 1em;
  font-weight: 700;
}

.c-signUp__button {
  color: #ffffff;
  text-decoration: none;
  padding: .6875em 1.25em;
  min-width: 90%;
  margin: 0 auto 1em;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background .2s linear;
  transition: background .2s linear;
}

.c-signUp__button--facebook {
  background: #415a99;
}

.c-signUp__button--facebook:hover {
  background: #0a4699;
}

.c-signUp__button--google {
  background: #ff4734;
}

.c-signUp__button--google:hover {
  background: red;
}

.c-signUp__img {
  max-width: 1em;
  max-height: 1em;
  display: inline-block;
  vertical-align: top;
  fill: #fff;
}

.c-signUp__description {
  margin-left: .25em;
  display: inline-block;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  -webkit-transition: color .2s linear .1s;
  transition: color .2s linear .1s;
}

.c-signUp__text {
  margin: 25px 0 30px;
  font-size: 16px;
  color: #005096;
  font-weight: 700;
  line-height: 1.4;
}



/*# sourceMappingURL=signUp.css.map */

