.c-breadCrumbs__icon,.c-breadCrumbs__link {
    vertical-align: middle;
    display: inline-block;
}

.l-tools {
    padding: .357em 0 .429em;
    background: #f8f8f8;
    font-size: 1rem;
}

.l-tools__content {
    padding: .5em 0;
}

.l-tools__leftPart {
    float: left;
}

.c-supplierProfile__dots {
    float: right;
}

.c-breadCrumbs {
    font-size: 1rem;
    display: inline-block;
}

.c-breadCrumbs:last-child .c-breadCrumbs__icon {
    display: none;
}

.c-breadCrumbs__link {
    color: #535353;
    font-size: 1em;
    font-family: GothamPro,"Open Sans",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: color .2s linear .1s;
    transition: color .2s linear .1s;
}

.c-breadCrumbs__link.is-active {
    color: #303942;
}

.c-breadCrumbs__link:hover {
    text-decoration: none;
}

.c-breadCrumbs__arrow {
    display: inline-block;
    text-align: center;
}

.c-breadCrumbs__icon {
    width: 100%;
    max-width: .5em;
    max-height: .5em;
    fill: #535353;
}

.c-supplierProfile__title {
    color: #005096;
    font-size: 21px;
    font-weight: 700;
}

.c-supplierProfile__buttonWrapper {
    text-align: center;
    margin: 30px 0 50px;
}

.c-supplierProfile__item,.c-supplierProfile__item--moderated {
    margin-bottom: 50px;
}

.c-supplierProfile__item--moderated {
    opacity: .3;
    pointer-events: none;
}

.c-supplierProfile__item--moderated .c-supplierProfile__header {
    color: #535353;
}

.c-supplierProfile__header {
    width: 100%;
    margin-bottom: 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #c6c6c6;
    font-size: 14px;
}

.c-supplierProfile__header--leftPart .c-rating {
    display: inline-block;
}

.c-supplierProfile__header--rightPart {
    color: #00bcd4;
    border-bottom: 1px solid #00bcd4;
    padding-bottom: 2px;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.c-supplierProfile__header--rightPart:hover {
    color: #00e2ff;
    border-bottom: 1px solid #00e2ff;
}

.c-supplierProfile__header--rightPart:hover .c-supplierProfile__icon {
    fill: #00e2ff;
}

.c-supplierProfile__header--numberBlock {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 50px;
    pointer-events: none;
}

.c-supplierProfile__header--numberBlock .is-active {
    color: #00bcd4;
    border-bottom: 1px solid #00bcd4;
    padding-bottom: 2px;
    pointer-events: auto;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.c-supplierProfile__header--numberBlock .is-active:hover {
    color: #00e2ff;
    border-bottom: 1px solid #00e2ff;
}

.c-supplierProfile__textBlock {
    margin-left: 20px;
    text-decoration: none;
    color: #c6c6c6;
}

.c-supplierProfile__icon {
    height: 10px;
    width: 10px;
    fill: #00bcd4;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

/*# sourceMappingURL=supplierProfile.css.map */
