.l-supplier__img {
  display: inline-block;
}

.l-supplier__head,.l-supplier__name {
  text-transform: uppercase;
}

.l-supplier {
  font-size: 1rem;
}

.l-supplier__block {
  padding: 2em 0 3em;
  position: relative;
}

.l-supplier__block--fixedBg {
  background-image: url(../img/supplier/supplier__fixedBg.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.l-supplier__head {
  margin: 1em;
  color: #00bcd4;
  font-size: 1.875em;
  font-weight: 800;
  text-align: center;
}

.l-supplier__head--white {
  color: #FFF;
}

.l-supplier__timeLine {
  width: 100%;
  max-width: 37.5em;
  margin: 0 auto;
}

.l-supplier__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0,80,150,.6);
}

.l-supplier__inside {
  position: relative;
  z-index: 5;
}

.l-supplier__list {
  width: 97.5%;
  margin: 1em auto;
  line-height: 0;
}

.l-supplier__item {
  max-width: 23.5em;
  border-radius: 5px;
  background: #fff;
  line-height: 0;
  vertical-align: top;
  text-align: center;
}

.l-supplier__item--small {
  padding: 1em;
  max-width: 16.9375em;
}

.l-supplier__item--big {
  padding: 2.5em 1em;
  min-height: 21em;
}

.l-supplier__img {
  width: 100%;
  max-width: 2em;
  max-height: 2em;
  margin: 0 0 .5em;
}

.l-supplier__name {
  color: #005096;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  line-height: 1.4;
}

.l-supplier__text {
  margin: 1em 0 0;
  color: #005096;
  font-size: .875em;
  text-align: justify;
  line-height: 1.4;
}

.c-profileForm__item .select2-container--default .select2-selection--single .select2-selection__placeholder,.c-supplierForm__item .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #7c7c7c;
}

.c-profileForm__item .select2-container .select2-selection--single,.c-supplierForm__item .select2-container .select2-selection--single {
  height: 36px;
}

.c-profileForm__item .select2-container--default .select2-selection--single .select2-selection__rendered,.c-supplierForm__item .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}

.c-breadCrumbs__link.is-active {
  color: #303942;
}

.c-timeLine {
  font-size: 1rem;
}

.c-timeLine__content {
  padding: 2em 0;
  margin: 2em 0;
  position: relative;
  overflow: hidden;
}

.c-timeLine__content:before {
  content: '';
  width: .875em;
  height: 75.5%;
  position: absolute;
  top: 3.25em;
  left: 1.85em;
  bottom: 3.25em;
  background: -webkit-linear-gradient(top,#26c3d9 0,#266da7 100%);
  background: linear-gradient(to bottom,#26c3d9 0,#266da7 100%);
}

.c-timeLine__blockContent {
  margin-left: 15%;
}

.c-timeLine__block {
  position: relative;
}

.c-timeLine__block:not(:first-child) {
  margin: 3em 0;
}

.c-timeLine__blockHead {
  margin: 1em 0;
  color: #005096;
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
}

.c-timeLine__text {
  color: #005096;
  font-size: .875em;
  line-height: 1.4;
}

.c-timeLine__buttonWrap {
  margin: 1em 0;
}

.c-timeLine__picture {
  width: 4.5em;
  height: 4.5em;
  position: absolute;
  left: 0;
  top: -1.25em;
  border-radius: 50%;
  border: .25em solid #fff;
  overflow: hidden;
}

.c-timeLine__icon {
  width: 100%;
  max-width: 4em;
  max-height: 4em;
  display: inline-block;
}

.c-supplierDescription:hover .c-supplierDescription__bg {
  top: 100%;
  opacity: 0;
}

.c-supplierDescription__head {
  color: #005096;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: left;
}

.c-supplierDescription__picture {
  margin: 1.875em 0;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.c-supplierDescription__bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #00bcd4;
  background: bottom,0,100% #00deff;
  opacity: .15;
  -webkit-transition: top .3s ease-in-out .1s,opacity .2s linear .1s;
  transition: top .3s ease-in-out .1s,opacity .2s linear .1s;
}

.c-supplierDescription__img {
  width: 100%;
  height: 100%;
  max-width: 23.1875em;
  max-height: 13.1875em;
  display: inline-block;
}

.c-supplierDescription__item {
  text-align: left;
  line-height: 1;
}

.c-supplierDescription__item:not(:first-child) {
  margin: .5em 0;
}

.c-supplierDescription__icon {
  max-width: .75em;
  display: inline-block;
}

.c-supplierDescription__text {
  display: inline-block;
  margin-left: 1em;
  color: #005096;
  font-size: 1.125em;
  font-weight: 600;
  text-align: left;
}

/*# sourceMappingURL=supplier.css.map */
